.album-details {
  color:red;
  text-align: center;
}

tbody {
  color: black;
  text-shadow: 0px 2px 3px #555;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Vampiro One', cursive;
  text-align: center;
}
