img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 12px outset black;
  border-radius: 2px;
}

body {
  background: url(../myStuff/GreyBackground.jpg);

}

.thetitle {
  color: red;
  text-align: center;
  font-size: 20px;
  font-family: 'Vampiro One', cursive;
}

.thealbum {
  color: red;
  text-align: center;
  font-size: 20px;
  font-family: 'Vampiro One', cursive;
}

.thesongs {
  color: red;
  text-align: center;
  font-size: 20px;
  font-family: 'Vampiro One', cursive;
}
